.ordersList{
    border: solid 1px black;
    width: 40%;
    /*height: 50%;*/
    margin-top:20px;
}

.recipesChiefsList{
    border: solid 1px black;
  
    margin-top:20px;
}

.consult{
    border: solid 1px black;
    width: 90%;
    height: 80%; 
    margin-top: 50px;
}

