#login {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url(../images/bg-nesti.png) no-repeat center center/cover;
}

#login .container #login-row #login-column #login-box {
    max-width: 600px;
    box-shadow: 0 0 1em lightgrey;
    background-color: #ffffff;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.logo {
    width: 15%;
   
    padding: 2%;
}




 